@import "/styles/variables";

.crewModule {
  display: flex;
  flex-direction: column-reverse;
  width: 85%;
  margin: 0 auto;
  @media screen and (min-width: 768px) and (max-width: 1023px){
    width: 70%;
    flex-direction: column;
    margin: 0 auto;
    height: 75%;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    height: 75%;
    justify-content: space-around;
    align-items: flex-end;
    width: auto;
  }
  section {
    text-align: center;
    @media screen and (min-width: 1024px) {
      text-align: start;
      width: 50%;
    }
    img {
      height: 19rem;
      @media screen and (min-width: 768px) and (max-width: 1023px){
        height: 33rem;
      }
      @media screen and (min-width: 1024px) {
        height: auto;
      }
    }
  }

  .imgContainer {
    width: 100%;
    padding-top: 5rem;
    margin: 0 auto;
    @media screen and (min-width: 768px) and (max-width: 1023px){
      padding: 0;
      position: fixed;
      bottom: 0;
      left: 0;
    }
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }

  .text {
    align-self: center;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1023px){
      flex-direction: column;
      margin-top: .5rem;
      z-index: 30;
    }
    @media screen and (min-width: 1024px) {
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      margin-left: 11rem;
    }
    h4 {

      color: #979797;
    }
    h3 {
      padding: 0.5rem 0;
      @media screen and (min-width: 1024px) {
        padding: 1.5rem 0;
      }
    }
  }
  p {
    width: 100%;
    height: 10rem;
    color: $second-color;
    line-height: 2rem;
    @media screen and (min-width: 768px) and (max-width: 1023px){
      width: 80%;
      height: 8rem;
      margin: 0 auto;
    }
    @media screen and (min-width: 1024px) {
      width: 26rem;
    }
  }
}

.vl {
  margin: -5px auto;
  padding: 1px;
  border-bottom: 1px solid rgba(110, 110, 110, 0.7);
  @media screen and (min-width: 768px) {
    display: none;
  }
}
