@import '/styles/variables';

.nav {
 
  ul {
    padding: 0;
    display: flex;
    list-style: none;
    .active {
      background-color: rgb(255,255,255);
    }
    li {
      cursor: pointer;
      margin-right: 1rem;
      background-color: rgba(255,255,255, 0.17);
      border-radius: 100%;
      width: 1rem;
      height: 1rem;
      &:hover:not(.active) {
        background-color: rgba(255,255,255, 0.5);
      }
    }
  }
}