@import "/styles/variables";

.module {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-around;
  }
}

.imgSection {
  margin-top: 2rem;
  text-align: center;
  @media screen and (min-width: 1024px) {
    margin-top: 5rem;
  }
  img {
    width: 50%;
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
      width: auto;
      padding-left: 3rem;
    }
  }
}

.textSection {
  text-align: center;
  @media screen and (min-width: 1024px) {
    text-align: start;
    margin: 0rem 12rem 0 0;
  }
}

.description {
  width: 85%;
  margin: 0 auto;
  @media screen and (min-width: 1024px) {
    margin: 0;
    width: 27.75rem;
  }

  h2 {
    @media screen and (min-width: 1024px) {
      margin: 2rem 0;
    }
  }
  p {
    color: $second-color;
    line-height: 2rem;
    margin-top: 0;
  }
}

.vl {
  width: 85%;
  margin: 0 auto;
  padding: 1px;
  border-bottom: 1px solid rgba(110, 110, 110, 0.7);
  @media screen and (min-width: 1024px) {
    width: 100%;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: flex-start;
  }
  div {
    width: 50%;
  }
  p {
    text-transform: uppercase;
    @media screen and (min-width: 1024px) {
      margin-top: 1rem;
      margin-bottom: 0;
      font-size: 0.875rem;
    }
    
  }
}

