@import '/styles/variables';

.module {
  display: flex;
  justify-content: space-around;
}

.imgSection {
  margin-top: 5rem;
  img {
    margin: 5rem;
  }
  h5{
    margin-bottom: 3rem;
    span {
      color: #979797;
      font-family: $font-second-bold;
    }
  }
  
}

.textSection {
  margin: 5rem 12rem 0 0;
}

.description {
  width: 27.75rem;
  h2 {
    margin: 2rem 0;
  }
  p {
    color: $second-color;
    line-height: 2rem;
  }
}

.vl {
  width: 100%;
  padding: 1px;
  border-bottom: 1px solid rgba(110, 110, 110, 0.7);
}

.footer {
  display: flex;
  div {
    width: 50%;
  }
  p {
    text-transform: uppercase;
    font-size: 1.5rem;
  }
}