@import '/styles/variables';

.heading {
  width: 50%;
  height: 10%;
  h5{
    padding-top: 3rem;
    padding-left: 11rem;
    span {
      color: #979797;
      font-family: $font-second-bold;
    }
  }
}