@import '/styles/variables';

.main {
  display: flex;
  height: 84%;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  h1 {
    padding: 2rem 0;
  }
  h5 {
    color: $second-color;
  }
}

.circleBtn {
  cursor: pointer;
  border-radius: 100%;
  border: 0;
  width: 17.125rem;
  height: 17.125rem;
  margin-right: 15rem;
  margin-bottom: 12rem;
  text-transform: uppercase;
  font-family: $font-prime;
  font-weight: 400;
  font-size: 2rem;
  color: $prime-color;
  &:hover{
    animation: hoverBtn .3s ease;
    outline: 4rem solid rgba(151, 151, 151, 0.7);
  }
}

.text {
  margin: 0;
  font-size: 23px;
  line-height: 2rem;
  font-family: $body-text;
  color: $second-color;
 }

.welcomeText {
  width: 28.125rem;
  height: 23.875rem;
  margin: 10rem;
}

@keyframes hoverBtn {
  from {outline: 0rem solid rgba(151, 151, 151, 0.7);}
  to {outline: 4rem solid rgba(151, 151, 151, 0.7);}
}