@import '/styles/variables';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    height: auto;
    ustify-content: center;
  }
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 85%;
    width: 100%;
    text-align: start;
  }
  h1 {
    padding: 1rem 0;
    @media screen and (min-width: 1024px){

    }
  }
  h5 {
    color: $second-color;
    font-size: 1rem;
    @media screen and (min-width: 1024px){
      font-size: 1.75rem;
    }
  }
}

.welcomeText {
  width: 20.5rem;
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    margin: 8rem;
    width: 60%;
  }
  @media screen and (min-width: 1024px){
    width: 28.125rem;
    height: 23.875rem;
    margin: 10rem;  
  }
}

.circleBtn {
  cursor: pointer;
  border-radius: 100%;
  border: 0;
  width: 9.375rem;
  height: 9.375rem;
  text-transform: uppercase;
  font-family: $font-prime;
  font-weight: 400;
  font-size: 1.25rem;
  color: $prime-color;
  @media screen and (min-width: 768px) and (max-width: 1023px){
    font-size: 2rem;
    width: 15.125rem;
    height: 15.125rem;
  }
  @media screen and (min-width: 1024px){
    font-size: 2rem;
    width: 17.125rem;
    height: 17.125rem;
    margin-right: 15rem;
    margin-bottom: 12rem;
  }
  &:hover{
    animation: hoverBtn .3s ease;
    outline: 4rem solid rgba(151, 151, 151, 0.7);
  }
}

.text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.563rem;
  font-family: $body-text;
  color: $second-color;
  @media screen and (min-width: 1024px){
    font-size: 1.438rem;
    line-height: 2rem; 
  }
 }



@keyframes hoverBtn {
  from {outline: 0rem solid rgba(151, 151, 151, 0.7);}
  to {outline: 4rem solid rgba(151, 151, 151, 0.7);}
}

