@import "/styles/variables";

.container {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.navContainer {
  width: 65%;
  background-color: rgba($second-color, 0.05);
  backdrop-filter: blur(25px);
  transition: ease-out 0.5s;
  &.close {
    position: relative;
    transform: translateX(100vh);
  }
  &.open {
    transform: translateX(0);
  }
}

.navBar {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-top: 20%;
  li {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.169rem;
    font-size: 1rem;
    list-style: none;
    padding: 1rem 0;
    margin: 0 2rem;
  }
  span {
    font-family: $font-second-bold;
  }
}

.vl {
  display: none;
}

.icon {
  margin: 1.5rem;
}
.closeIcon,
.openIcon {
  padding: 1.5rem;
  svg {
    margin-top: 0.7rem;
    float: right;
  }
}

.displayNone {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container {
    align-items: center;
    position: static;
    height: 15%;
  }
  .navContainer {
    width: 55%;
    &.close {
      position: static;
      transform: translateX(0);
    }
  }
  .navBar {
    height: auto;
    flex-direction: row;
    padding-left: 10%;
    padding-top: 0;
    .active {
      border-bottom: 3px solid #fff;
    }
    li {
      cursor: pointer;
      letter-spacing: 0.169rem;
      font-size: 1rem;
      padding: 2rem 0;
      margin: 0 2rem;
      border-bottom: 3px solid transparent;
      &:hover:not(.active) {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
  .vl {
    display: block;
    position: relative;
    left: 50px;
    z-index: 30;
    width: 38%;
    padding: 1px;
    border-bottom: 1px solid rgba(110, 110, 110, 0.7);
  }

  .icon {
    margin-left: 4rem;
  }
  .closeIcon,
  .openIcon {
    display: none;
  }
}

@keyframes menuSlideOut {
  from {
    left: 100px;
  }
  to {
    left: 1000px;
  }
}
