@import "/styles/variables";

.container {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media screen and (min-width: 1024px) {
    align-items: center;
    position: static;
    height: 15%;
  }
}

.navContainer {
  width: 65%;
  background-color: rgba($second-color, 0.05);
  backdrop-filter: blur(25px);
  transition: ease-out 0.5s;
  @media screen and (min-width: 768px) and (max-width: 1023px){
   width: auto;
  }
  @media screen and (min-width: 1024px) {
   width: 55%;
  }
  &.close {
    display: none;
    @media screen and (min-width: 768px) {
      display: inline;
    }
  }
  &.open {
    height: 100vh;
    @media screen and (min-width: 768px) {
      height: auto;
    }
  }
}

.navBar {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-left: 1%;
  padding-top: 20%;
  @media screen and (min-width: 768px) and (max-width: 1023px){
    margin: 0 2rem;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding-top: 0;
    .active {
            border-bottom: 3px solid #fff;
          }
  }
  @media screen and (min-width: 1024px){
    padding-left: 10%;
  }
  li {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.169rem;
    font-size: 1rem;
    list-style: none;
    padding: 1rem 0;
    margin: 0 2rem;
    @media screen and (min-width: 768px) and (max-width: 1023px){
      padding: 2rem 0;
      margin: 0 1rem;
    }
    @media screen and (min-width: 1024px) {
      padding: 2rem 0;
      border-bottom: 3px solid transparent;
      &:hover:not(.active) {
        border-bottom: 3px solid rgba(255, 255, 255, 0.5);
      }
    }
  }
  span {
    font-family: $font-second-bold;
    @media screen and (min-width: 768px) and (max-width: 1023px){
      display: none;
    }
  }
}

.vl {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
    position: relative;
    left: 50px;
    z-index: 30;
    width: 38%;
    padding: 1px;
    border-bottom: 1px solid rgba(110, 110, 110, 0.7);
  }
}

.icon {
  margin: 1.5rem;
  @media screen and (min-width: 768px) and (max-width: 1023px){
   margin: 1.2rem 1rem 0 2rem;
   }
  @media screen and (min-width: 1024px) {
    margin-left: 4rem;
  }
}
.closeIcon,
.openIcon {
  padding: 1.5rem;
  @media screen and (min-width: 768px) {
    display: none;
  }
  svg {
    margin-top: 0.7rem;
    float: right;
  }
}

.displayNone {
  display: none;
}
