@import '/styles/variables';

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 15%;
 }

.navContainer {
  width: 55%;
  margin: 2rem 0;
  background-color: rgba($second-color, .05);
  backdrop-filter: blur(25px);
}

.navBar {
  margin: 0;
  display: flex;
  padding-left: 10%;
  .active {
    border-bottom: 3px solid #fff;
  }
  li {
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.169rem;
    font-size: 1rem;
    list-style: none;
    padding: 2rem 0;
    margin: 0 2rem;
    border-bottom: 3px solid transparent;
    &:hover:not(.active){
      border-bottom: 3px solid rgba(255,255,255, 0.5);
    }
  }
  span{
    font-family: $font-second-bold;  
  }
 }

 .vl {
  position: relative;
  left: 50px;
  z-index: 30;
  width: 38%;
  padding: 1px;
  border-bottom: 1px solid rgba(110, 110, 110, 0.7);
}

 .icon {
  margin-left: 4rem;
 }
