$prime-color: #0B0D17;
$second-color: #D0D6F9;
$text-color: #fff; 

$font-prime: 'Bellefair', serif;
$font-second: 'Barlow Condensed', sans-serif;
$font-second-bold: 'Barlow Condensed Bold', sans-serif;


