@import "variables";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-second;
  color: $text-color;
  background-color: $prime-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Global Headings

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: $font-prime;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  @media screen and (min-width: 1024px) {
    font-size: 9.375rem;
  }
}

h2 {
  font-size: 3.5rem;
  @media screen and (min-width: 1024px) {
    font-size: 6.25rem;
  }
}

h3 {
  font-size: 1.5rem;
  @media screen and (min-width: 1024px) {
    font-size: 3.5rem;
  }
  
}

h4 {
  font-size: 1rem;
  @media screen and (min-width: 1024px) {
    font-size: 2rem;
  }
  
}

h5 {
  margin: 0;
  font-size: 1.75rem;
  font-family: $font-second;
  font-weight: 400;
  letter-spacing: 0.297rem;
  text-transform: uppercase;
}

@font-face {
  font-family: "Bellefair";
  src: url(../public/assets/fonts/Bellefair-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed";
  src: url(../public/assets/fonts/BarlowCondensed-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed Bold";
  src: url(../public/assets/fonts/BarlowCondensed-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Barlow Condensed Thin";
  src: url(../public/assets/fonts/BarlowCondensed-Thin.ttf);
  font-weight: normal;
  font-style: normal;
}
